
/* Tablet  */

@media (max-width: 1100px) {
  .newsletter-container {
    flex-direction: column;
    width: 608px;
  }
  .news-side {
    max-width: 520px;
  }
}

/* ------------------------------------- */

/* Mobile  */

@media (max-width: 670px) {
  .newsletter-container {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 0;
    overflow: hidden;
  }

  .img-news img {
    border-radius: 0 0 16px 16px;
    object-fit: cover;
  }

  .title {
    font-size: var(--fs-1-mobile);
  }

  .news-side {
    padding: var(--spacing-300);
    justify-content: center;
  }

  .modal-dialog {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
