* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--ff-primary);
  background-color: var(--blue-700);
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.newsletter-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 24px;
  background-color: #fff;
  border-radius: 24px;
  max-width: 904px;
  width: min(904px, 92vw);
  margin: 0 auto;
  padding: var(--spacing-400);
}

.img-news img {
  display: block;
  border-radius: 24px;
}
.img-news,
.img-news picture {
  display: block;
  width: 100%;
}
.img-news img {
  width: 100%;
  height: auto;
  display: block;
}

.title {
  font-size: var(--fs-1);
  color: var(--blue-800);
  font-weight: var(--fw-bold);
  line-height: var(--lh-tight);
  width: 376px;
}

.bullets {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}

.bullets p {
  margin: 0;
  font-size: var(--fs-2);
  font-weight: var(--fw-regular);
  line-height: var(--lh-normal);
  color: var(--blue-800);
}

.benefits {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.benefits li {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
  font-size: var(--fs-2);
  font-weight: var(--fw-regular);
  line-height: var(--lh-normal);
}

.v-letters {
  display: flex;
  flex-direction: row;
}

.news-side {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: var(--spacing-300);
}

.email {
  color: var(--blue-800);
  font-size: var(--fs-3);
  font-weight: var(--fw-bold);
}

.label-row {
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input {
  padding: var(--spacing-200) var(--spacing-300);
  border-radius: 8px;
  border: 1px solid var(--grey);
  margin-bottom: var(--spacing-200);
}

button {
  color: var(--white);
  background-color: var(--blue-800);
  height: 56px;
  border-radius: 8px;
  border: none;
  width: 100%;
}

button:active {
  background-color: var(--gradient-start);
}

input.is-invalid {
  border: 1px solid hsl(4, 100%, 67%);
  background-color: var(--red-100);
  color: red;
}
input.is-invalid::placeholder {
  opacity: 1;
}

.error-msg {
  visibility: hidden;
  font-size: var(--fs-3);
  color: var(--red);
}
