* {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--blue-700);
}

.newsletter-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: var(--spacing-400);
  gap: var(--spacing-800);
  background-color: var(--white);
  border-radius: 36px;

  width: 904px;
  height: 641px;
}

.img-news {
  background-color: green;
  border-radius: var(--spacing-200);
  grid-area: 1 / 2 / 4 / 3;
}
.title {
  grid-area: 1 / 1 / 2 / 2;
  font-size: var(--fs-1);
  color: var(--blue-800);
  font-weight: var(--fw-bold);
}

.bullets {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}
.bullets p {
  margin: 0;
}

.benefits {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.benefits li {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
}

.v-letters {
  display: flex;
  flex-direction: row;
}

.form {
  grid-area: 3 / 1 / 4 / 2;
}

.news-side {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: var(--spacing-400);
}

.input-row {
  gap: var(--spacing-300);
}
input {
  padding: 16px 24px;
}
input:invalid {
  border-color: var(--red);
}
button {
    color: var(--white);
    background-color: var(--blue-800);
    height: 56px;
    border-radius: ;
}
