* {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--blue-700);
}

.newsletter-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-400);
  background: var(--white);
  border-radius: 36px;

  width: 904px;
  height: 641px;
}

.title {
  font-size: var(--fs-1);
  color: var(--blue-800);
  font-weight: var(--fw-bold);
  line-height: var(--lh-tight);
}

.bullets {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}
.bullets p {
  margin: 0;
  font-size: var(--fs-2);
  font-weight: var(--fw-regular);
  line-height: var(--lh-normal);
  color: var(--blue-800);
}

.benefits {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.benefits li {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
  font-size: var(--fs-2);
  font-weight: var(--fw-regular);
  line-height: var(--lh-normal);
}

.v-letters {
  display: flex;
  flex-direction: row;
}

.news-side {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: var(--spacing-400);
  max-width: 376px;
}

.img-news img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: inherit;
}

.input-row {
  gap: var(--spacing-300);
}
.email {
  color: var(--blue-800);
  font-size: var(--fs-3);
  font-weight: var(--fw-bold);
}
input {
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid var(--grey);
  margin-top: var(--spacing-100);
}
input:invalid {
  border-color: var(--red);
}
button {
  color: var(--white);
  background-color: var(--blue-800);
  height: 56px;
  border-radius: 8px;
  border: none;
}
button:active {
  background-color: var(--gradient-start);
}

/* ------------------------------------------------------- */

/* Tablet  */
@media (max-width: 1024px) {
  .newsletter-container {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  img {
    background-image: url('/assets/img/signup-tablet.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media (max-width: 670px) {

}
