:root {
  /* Colors  */
  --white: #ffffff;

  --grey: #949494;

  --blue-800: #242742;
  --blue-700: #36384d;

  --red: #ff6155;

  /* Gradients */
  --gradient-start: #ff6a3a;
  --gradient-end: #ff527b;

  /* Spacing  */
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-900: 72px;
  --spacing-1200: 104px;

  /* Font Family */
  --ff-primary: 'Roboto', sans-serif;

  /* Font Weights */
  --fw-regular: 400;
  --fw-bold: 700;

  /* Font Sizes */
  --fs-1: 56px; /* Text Preset 1 (Headline) */
  --fs-1-mobile: 40px; /* Text Preset 1 (Mobile) */
  --fs-2: 16px; /* Text Preset 2 (Body) */
  --fs-3: 12px; /* Text Preset 3 (Small text) */

  /* Line Heights */
  --lh-tight: 100%;
  --lh-normal: 150%;

  /* Letter Spacing */
  --ls-normal: 0;
}
